<h1>Login to Your Account!</h1>

<!-- <form action="/sessions" method="post">
	<input type="email" name="user[email]" placeholder="Email Address">
	<input type="password" name="user[password]" placeholder="Password">
	<input type="submit" value="Login">
</form> -->

<form action="/login" method="post">
  <fieldset>
    <legend>User Information:</legend>
    Email:<br>
    <input type="email" name="user[email]" placeholder="Email Address"><br>
    Password:<br>
    <input type="password" name="user[password]" placeholder="Password"><br>
    <input type="submit" value="Login">
  </fieldset>
</form>