<h1>Login to Your Account!</h1>

<form action="/sessions" method="post">
	<input type="email" name="user[email]" placeholder="Email Address">
	<input type="password" name="user[password]" placeholder="Password">
	<input type="submit" value="Login">
</form>