#bar-if-in {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;

}

#bar-if-out {
	  list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
	float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}


li a:hover {
    background-color: #111;
}


#logout-form {
	padding: 27%;
	margin: 0;
	background-color: transparent;
	border: none;
	color: white;
}

#logout-form:hover {
    background-color: #111;
}
