<h1>Please Register an Account with Us:</h1>

<form action="/users" method="post">
  <fieldset>
    <legend>Registration Information:</legend>
    Name:<br>
    <input type="text" name="user[name]" placeholder="Name"><br>
    Email:<br>
    <input type="email" name="user[email]" placeholder="Email Address"><br>
    Password:<br>
    <input type="password" name="user[password]" placeholder="Password"><br>
    <input type="submit" value="Register">
  </fieldset>
</form>