<h1>Please Register an Account with Us:</h1>
<form action="/users" method="post">
	<input type="text" name="user[name]" placeholder="Name">
	<input type="email" name="user[email]" placeholder="Email Address">
	<input type="password" name="user[password]" placeholder="Password">
	<input type="submit" value="Register">
</form>