<%if current_user%>
    <nav id="nav-bar">
      <ul id=bar-if-in>
        <li><a href="/">Home</a></li>
        <li><a href="/users/<%=current_user.id%>">Profile</a></li>
        <li>
          <form id="the-form" action="/logout" method="post">
            <input type="hidden" name="_method" value="delete">
            <input id="logout-form" type="submit" value="Logout">
          </form>
        </li>
      </ul>
    </nav> 
  <%else %>
    <nav>
      <ul id=bar-if-out>
        <li><a href="/">Home</a></li>
        <li><a href="/login">Login</a></li>
        <li><a href="/users/new">Register</a></li>
      </ul>
    </nav> 
  <%end%>
